
$btn: #0E7B04;
$fb: #3B5998;
$twitter: #00ACED;

.google {
  background: url("google.svg") no-repeat center;
  background-size: 20px;
  height: 30px;
  width: 30px;
}

.google:hover {
  background-color: #dbdbdb;
}

.is-facebook {
  background-color: $fb;
  border-color: transparent;
  color: #e8e8e8;
}

.button.is-facebook:hover {
  background-color: white;
  border-color: $twitter;
  //color: #000;
  color: $fb;
}

.is-twitter {
  background-color: $twitter;
  border-color: transparent;
  color: #e8e8e8;
}

.button.is-twitter:hover {
  background-color: white;
  border-color: $twitter;
  //color: #000;
  color: $twitter;
}

.signup-btn {
  background-color: $btn;
  border-color: transparent;
  color: white;
}

.button.signup-btn:hover {
  background-color: #0E7B04;
}

.signup-logo-image {
  width: 150px;
  height: auto;
  margin: 0 auto 24px;
  display: block;
}
