
.reset-field {
  margin: 10% auto;
  border: 1px solid rgb(3, 96, 172);
  max-height: calc(100vh - 40px);
  max-width: 500px;
  padding: 50px;
}

#resetPasswordBtn{
  margin-top: 20px
}
.reset-field  h1{
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center
}


#reset-info{
  margin-bottom: 20px;
  text-align: center

}


.alert {
  background-color: rgb(43, 35, 20);
  color:goldenrod;
}
