$white: #fff;
$primary-blue: #007ea7;
$secondary-blue: #e3ebef;
$primary-turquoise: #21b7b7;
$fg-gray: #747f8b;
$primary-font: "Lato";

.message_body {
}

.dropdowns-wrapper {
  padding: 4px 0;
}

.dropdown-container {
  display: inline-block;
  position: relative;
  margin-left: 15px;
  .dropdown {
    position: relative;
    cursor: pointer;
    z-index: 2;
  }
  .dropdown-menu {
    &.show {
      display: block;
    }
    position: absolute;
    display: none;
    padding: 0;
    top: 46px;
    transform: translate(-50%, 0);
    background: white;
    min-height: 10px;
    min-width: 10px;
    width: 300px;
    z-index: 150;
    //-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
    //box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);

    min-height: 150px;
    border: 1px solid #ccc;
    //border-top: 0;
    border-radius: 3px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .17);

    .dropdown-arrow {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: -7px;
        left: 50%;
        height: 15px;
        width: 15px;
        display: block;
        background: #fff;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-box-shadow: -1px -1px 1px -1px rgba(0, 0, 0, .65);
        box-shadow: -1px -1px 1px -1px rgba(0, 0, 0, 0.65);
        background: $white;
      }
    }
    .dropdown-header {
      background: $white;
      padding: 15px;
      position: relative;
      color: $fg-gray;
    }
    .dropdown-body {
      max-height: 500px;
      background: white;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
  .fas {
    color: $primary-blue;
    font-size: 22px;
  }
  .count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: -10px;
    height: 20px;
    width: 20px;
    overflow: hidden;
    background: red;
    color: $white;
    text-align: center;
    border-radius: 100%;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
  }
}

.notifications {
  margin-right: 10px;
}

//animations from animate.css
.animated {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.notifications {
  ul {
    padding: 10px;
    color:$primary-blue;

    li {
      position: relative;
      font-size: 13px;
      .message_body {
        padding: 10px;
        cursor: pointer;
        border-bottom: 1px solid #ccc;
      &.new {
        // color:$primary-blue;
        // color:$white;
        font-weight: bold;
      }
    }
  }
}
}

.notifications {
  ul {
    padding: 10px;
    li:hover {
background-color:#cbf2ff;
    }
  }
}