.navbar-icon {
  margin-right: 20px;
}

.navbar-brand {
  font-size: 22px;
  margin-left: 20px;
}

.navbar-item img {
  max-height: none;
}

.navbar-search {
  border-width: 0 0 2px 0;
  margin-right: 10px;
}

.navbar-search:focus {
  width: 100%;
  animation-name: reveal-width;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.navbar {
  box-shadow: 0 1px 1px grey;
}

@keyframes reveal-width {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
