.nav-bar__logo {
  background: url("../../logo-with-text.png") no-repeat;
  background-size: 200px;
  background-position: center;
  width: 200px;
  height: 80px
;
}

.nav-bar {
  background: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  z-index: 100;
}

.nav-bar__container {
  width: 95%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.1em;
}

.nav-bar__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-bar__menu--right {
  display: flex;
  font-size: 1rem;
  flex-direction: row;
  align-items: center;
}

.btn {
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  padding: 6px 20px;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease-in-out;
}

.btn:hover {
  transform: scale(1.1, 1.1);
}

.sign-in-btn {
  opacity: 0.8;
}

.btn--link {
  border: none;
}

.text--primary {
  color: #007ea7;
}

.btn--primary {
  background: #007ea7;
  color: white;
}

.notification-count{
  position: absolute;
  cursor: pointer;
  font-size: 10px;
  background: red;
  width: 16px;
  height: 16px;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 0;
  right:1px;
}
.notification-wrapper{
  position: relative
}
.a{
  width: 300px;
}
@media (max-width: 600px) {
  .nav-bar__logo {
    background: url("../../logo-icon-only.png") no-repeat;
    background-size: auto;
    background-position: center;
    width: 100px;
    height: 80px;
  }

  .btn {
    white-space: nowrap;
    overflow: hidden;
  }

  .nav-bar__container {
    font-size: 1.5em;
  }
}
