@import '~bulma/sass/utilities/initial-variables.sass';
@import url('https://fonts.googleapis.com/css?family=Roboto');

// your customization as described in the Bulma docs
$primary: #007ea7;
$dark: #2a2626;
$radius: 0;
$modal-background-background-color: rgba(10,10,10, 0.75);

$modal-content-width: 500px;
$modal-card-body-padding: 30px 50px 50px;
$input-focus-border-color: #007ea7;
$input-focus-box-shadow-color: rgba(0, 126, 167, 0.25);

@import '~bulma/bulma.sass';

// App specific
$app-text: #00171f;
$btn: #0E7B04;

//Social media colors
$fb: #3B5998;
$twitter: #00ACED;

body {
  // font-family: 'Roboto', sans-serif;
  color: $app-text;
}
.hide {
  display: none;
}
